body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}

canvas {
  display: block;
}

h1 {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 3vw;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  max-width: 90%;
}

.birthday-boy {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: auto;
  border-radius: 50%;
  border: 5px solid #00000000;
  max-width: 300px;
}

.bible-verse {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 2vw;
  text-align: center;
  padding: px;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.best-bro {
  position: absolute;
  top: 16vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffcc00;
  font-family: "Source Sans Pro";
  font-size: 1.5vw;
  text-align: center;
  font-weight: bold;
  max-width: 80%;
}
@media screen and (max-width: 600px) {
  h1 {
      font-size: 6vw;
  }

  .birthday-boy {
      width: 40vw;
  }

  .bible-verse {
      font-size: 3vw;
      padding: 8px;
  }

  .best-bro {
    font-size: 3vw;
}
}
